# 1. https://www.last.fm/ API ...

In [1]:
import getpass
import requests

apikey = getpass.getpass()

········

In [2]:
#https://ws.audioscrobbler.com/2.0/?method=tag.gettoptracks&tag=disco&api_key=56d0107039fef06f3f21b01650385fa5&format=json 

response = requests.get('https://ws.audioscrobbler.com/2.0/?method=tag.gettoptracks&tag=disco&api_key=56d0107039fef06f3f21b01650385fa5&format=json')
response

In [3]:
#response.json()

In [4]:
results = response.json()

In [5]:
tracks = results['tracks']

In [6]:
track = tracks['track']
#track

In [7]:
from pandas import json_normalize 

flattened_data = json_normalize(track)
#flattened_data

In [10]:
#flattened_data = flattened_data.drop (['mbid','artist.mbid','image','streamable.#text'], axis=1)
flattened_data.head()

,name,duration,url,streamable.fulltrack,artist.name,artist.url,@attr.rank
0,Billie Jean,293,https://www.last.fm/music/Michael+Jackson/_/Bi...,0,Michael Jackson,https://www.last.fm/music/Michael+Jackson,1
1,Dancing Queen,352,https://www.last.fm/music/ABBA/_/Dancing+Queen,0,ABBA,https://www.last.fm/music/ABBA,2
2,Thriller,358,https://www.last.fm/music/Michael+Jackson/_/Th...,0,Michael Jackson,https://www.last.fm/music/Michael+Jackson,3
3,The Less I Know the Better,0,https://www.last.fm/music/Tame+Impala/_/The+Le...,0,Tame Impala,https://www.last.fm/music/Tame+Impala,4
4,September,0,"https://www.last.fm/music/Earth,+Wind+&+Fire/_...",0,"Earth, Wind & Fire","https://www.last.fm/music/Earth,+Wind+&+Fire",5

# 2. Bank-holidays- UK

In [11]:
import requests

In [12]:
response1 = requests.get('https://www.gov.uk/bank-holidays.json')
response1

In [14]:
#response1.json()

In [15]:
data = response1.json()

In [16]:
division_data = []

for division in data:
    division_info = data[division]
    events = division_info['events']
    
    for event in events:
        event['division'] = division_info['division']
        division_data.append(event)

In [17]:
import pandas as pd
uk_bankh = pd.json_normalize(division_data)

In [20]:
#uk_bankh

In [19]:
uk_bankh = uk_bankh.drop(['notes','bunting'], axis=1)
uk_bankh.head()

                    title        date           division
0          New Year’s Day  2018-01-01  england-and-wales
1             Good Friday  2018-03-30  england-and-wales
2           Easter Monday  2018-04-02  england-and-wales
3  Early May bank holiday  2018-05-07  england-and-wales
4     Spring bank holiday  2018-05-28  england-and-wales

# 3. Emojis hub

In [21]:
import requests

response2 = requests.get('https://emojihub.yurace.pro/api/all')
response2

In [23]:
emoji = response2.json()
#emoji

In [25]:
flattened_emoji = json_normalize(emoji)

flattened_emoji.head()

,name,category,group,htmlCode,unicode
0,grinning face,smileys and people,face positive,[&#128512;],[U+1F600]
1,grinning face with smiling eyes,smileys and people,face positive,[&#128513;],[U+1F601]
2,face with tears of joy,smileys and people,face positive,[&#128514;],[U+1F602]
3,rolling on the floor laughing,smileys and people,face positive,[&#129315;],[U+1F923]
4,smiling face with open mouth,smileys and people,face positive,[&#128515;],[U+1F603]